body
{
    background-color: #323232;
    color: #fff;
}
.main-div
{
    background-color: #202020;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 20px;
}
.btn-cta1
{
    width: 90%;
    padding: 10px;
    background-color: rgb(25, 113, 194); 
    color: #ffffff;
    font-size: 18px;
    border: 1px solid #000;
    cursor: pointer;
}
.task-div
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.cta
{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
}
.cta>input
{
    width: 100%;
    padding: 10px;
    gap:10px;
    background: transparent;
    border: 1px solid #635f5f;
    border-radius: 5px;
    color: #fff;
}
.btn-cta
{
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.btn-cta>button
{
    background-color: transparent;
    border: 1px solid #635f5f;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-cta>button:nth-child(2)
{
    background-color: rgb(25, 113, 194);
}
.my-task
{
    border: 1px solid #635f5f;
    margin-bottom: 10px;
}
.task-cta
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    box-sizing: border-box;
}
.task-cta>svg
{
    color: red;
    cursor: pointer;
}
@media screen and (max-width:720px) {
    .main-div
    {
        width: 80%;
    }
}
@media screen and (max-width:480px) {
    .main-div{
        width: 90%;
    }
}